html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.logo {
    height: 100%;
    width: 25%;
    background-color: rgb(13, 184, 214);
    float: left;
}
.logo img {
    width: 70%;
    height: 21%;
    border-radius: 50%;
    margin: 10% 15% 0 15%;
}
.sign_up {
    width: 75%;
    height: 100%;
    float: left;
    
}
.sign_up img {
    height: 5%;
    width: 5%;
    margin-left: 28%;
}
h1 {
    margin: 5% 0 0 35%; 
    color: rgb(13, 184, 214);
}
input {
    border: 0px;
    border-bottom: rgb(13, 184, 214) solid 2px;
    height: 5%;
    width: 30%;
    vertical-align: bottom;
}
.sign_up #phone {
    margin: 10% 0 0 30%;
}
.sign_up #name {
    margin: 0 0 0 30%;
}
.sign_up p {
    margin:0 0 0 30%;
}
#pass{
    margin: 0 0 0 30%;
}
input[type = "submit"] {
    
    width: 20%;
    height: 5%;
    margin: 5% 0 1% 20%;
    background-color: rgb(13, 184, 214);
    color: white;
    border: none;
    
}
button {
    width: 20%;
    height: 5%;
    margin: 5% 0 1% 20%;
    background-color: rgb(13, 184, 214);
    color: white;
    border: none;
}
button a{
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: middle;
    color: white;
    margin-left: 0;
}
